<h1>Create a Team and Heroes!</h1>
<form action=“/superhero method=“POST”>
 Team Name: <label><input id= "team[name]" type="text" name="team[name]"></label>
  Team Motto: <label><input id= "team[motto]" type="text" name="team[motto]"></label>
  <h2>Hero 1</h2>
  Hero's Name: <label><input id= "member1_name"[name]" type="text" name="superhero[name]["></label>
  Hero's Power: <label><input id= "member1_power" type="text" name="superhero[power]"></label>
  Hero's Biography: <label><input id= "member1_bio" type="text" name="superhero[biography]"></label>
  <h2>Hero 2</h2>
  Hero's Name: <label><input id= "member2_name"[name]" type="text" name="superhero[name]["></label>
  Hero's Power: <label><input id= "member2_power" type="text" name="superhero[power]"></label>
  Hero's Biography: <label><input id= "member2_bio" type="text" name="superhero[biography]"></label>
  <h2>Hero 3</h2>
  Hero's Name: <label><input id= "member3_name"[name]" type="text" name="superhero[name]["></label>
  Hero's Power: <label><input id= "member3_power" type="text" name="superhero[power]"></label>
  Hero's Biography: <label><input id= "member3_bio" type="text" name="superhero[biography]"></label>
  <input id="submit" type= "submit">
  </form>
